<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563357484912-2jvi3cf57spn1i0quht7rupblu6s5djk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563357484912-2jvi3cf57spn1i0quht7rupblu6s5djk</string>
	<key>API_KEY</key>
	<string>AIzaSyBsyKGgVsBtWlLtGPTA4IHp50X2EUh7p9M</string>
	<key>GCM_SENDER_ID</key>
	<string>563357484912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aoihito.TeamCraft</string>
	<key>PROJECT_ID</key>
	<string>teamcraft-9dfda</string>
	<key>STORAGE_BUCKET</key>
	<string>teamcraft-9dfda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563357484912:ios:092e0f151234edcfc131b5</string>
</dict>
</plist>